.prueba{
    background: #c05c7e;
    padding: 10px 30px;
    color: cornsilk;
    display: inline-block;
    text-decoration: none;
}

.prueba:hover{
    background: #ffb961;
}

nav{
    padding: 10px;
    background: #2d3561;
    display: flex;
    justify-content: space-around;
}

.nav-boton{
    padding: 10px 0px;
    color: white;
    background: #c05c7e;
    border: 2px solid white;
    display: none;
}
@media (max-width: 600px) {
    nav{
        background: coral;
        flex-direction: column;
    }
    .prueba{
        margin: 10px 0px;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
  }