body{
    font-family: 'Lato', sans-serif;
}
h2{
    font-weight: 400;
}
p{
    font-weight: 300;
}
.container{
    margin: 0px auto;
    width: 90%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.columna{
    background: lightslategray;
    color: #333;
    border: 1px solid #333;
    margin: 0px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightslategray;
    width: 23%;
    box-sizing: border-box;
}
.precio{
    font-size: 50px;
    color: aqua;
}
.btn-precio{
    background: salmon;
    display: block;
    color: white;
    padding:10px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
}

.btn-precio:hover{
    background: rgb(241, 85, 85);
}

@media (max-width: 1070px){
    .columna{
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px){
    .columna{
        width: 100%;
        margin-bottom: 20px;
    }
}

