.padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}
.header, .articulo, .izquierda, .derecha, .footer{
    flex-grow: 1;
    flex-basis: 100%;
    padding: 10px;

}

@media all and (min-width: 600px){
    .aside{flex: 1 1 auto}
}
@media all and (min-width: 800px){
    .articulo{
        flex: 2 0;
        order: 2;    
    }
    .izquierda{order: 1;}
    .derecha{order: 3;}
    .footer{order: 4;}
}

.header{background: lightcoral;}
.articulo{background: lightgoldenrodyellow;} 
.izquierda{background: lightblue;} 
.derecha{background: lightgreen;} 
.footer{background: lightslategrey;}